.App
{
    text-align: center;
}

.App-header
{
    font-size: calc(10px + 1.5vmin);
    color: white;
}

.page-header
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body
{
    background-color: #282c34;
}

/* Scroll Bar */

body::-webkit-scrollbar
{
    width: 0.35em;
}

body::-webkit-scrollbar-track
{
    background: #282c34;
}

body::-webkit-scrollbar-thumb
{
    background: darkslategrey;
}

/* Buttons */

button
{
    background-color: darkcyan;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: calc(10px + 1vmin);
    padding: 10px;
    margin: 20px 10px 0 10px;
}

button:hover
{
    background-color: lightseagreen;
}

button:active
{
    position: relative;
    top: 2px;
}

button:active,
button:focus
{
    outline: none;
}

fieldset
{
    border: thin solid gray;
    width: 50%;
    margin: auto;
}

legend
{
    padding: 0.5rem 2rem;
    outline: thin solid gray;
}

/* Input Fields */

input
{
    padding: 10px;
    border: medium solid #282c34;
    border-radius: 10px;
}

input:focus
{
    position: relative;
    border: medium solid lightgreen;
}

input:focus,
input:active
{
    outline: none;
}

/* Debit/Credit Cards */

.debit-card,
.credit-card
{
    position: relative;
    transition: box-shadow 0.6s;

    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    border-radius: 25px;
    transition: 0.3s;
    padding: 2px 16px;
}

.debit-card
{
    background-color: #311e1e;
}

.credit-card
{
    background-color: #1e3131;
}

.debit-card:hover,
.credit-card:hover
{
    cursor: pointer;
    box-shadow: 0 16px 12px 0 rgba(0,0,0,0.5);
}

.debit-description,
.credit-description
{
    border-radius: 25px;
}

.debit-description
{
    background-color: #8f581a;
}

.credit-description
{
    background-color: #1a548f;
}

.debit-details,
.credit-details
{
    text-align: left;
}

.debit-card-grid,
.credit-card-grid
{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 2rem 4rem 4rem;
}
