/*
Layout of all pages
*/

.App
{
    text-align: center;
}

.App-header
{
    font-size: calc(10px + 1.5vmin);
    color: white;
}

.page-header
{
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page-header
{
  position: center;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

img
{
  width: 50%;
  height: auto;
  opacity: 0.3;
}

body
{
    background-color: lightgreen;
}

/*
Form layout
*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

/*
  UserProfile layout
*/

div[type=userprofile] {
  text-align:center;
}

.debit-card,
.credit-card
{
    position: relative;
    transition: box-shadow 0.6s;

    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    border-radius: 30px;
    transition: 0.3s;
    padding: 3px 16px;
}

.debit-card
{
    background-color: lightblue;
}

.credit-card
{
    background-color: lightblue;
}

.debit-card:hover,
.credit-card:hover
{
    cursor: pointer;
    box-shadow: 0 16px 12px 0 rgba(0,0,0,0.5);
}

.debit-Description,
.credit-Description
{
    border-radius: 50px;
}

.debit-Description
{
    background-color: lightgreen;
}

.credit-Description
{
    background-color: lightgreen;
}

.debit-details,
.credit-details
{
    text-align: left;
}
